<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/signup/" method="POST" class="tform">
        {%csrf_token %}
        <label for="email" class="floating-label">Email</label>
        <input type="text" name="email" id="email" placeholder="Email" required>
        <label for="password" class="floating-label">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button>Signup</button>
    </form>
</body>
</html>