<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train</title>
</head>

<body>
    <a href="{% url 'train_class' %}">Train</a>
    <a href="{% url 'eda' %}">EDA Classification</a>
    <a href="{% url 'class_add' %}">Add Data</a>
    <a href="{% url 'signout' %}">Logout</a>
    <form action="/model_train_class/" method="POST" class="tform">
        {%csrf_token %}

        <label for="max_depth" class="floating-label">Max Depth</label>
        <input type="number" name="max_depth" id="max_depth" placeholder="Enter a Whole Number" required>
        <label for="min_samples_split" class="floating-label">Minimum Sample Split</label>
        <input type="number" name="min_samples_split" id="min_samples_split" placeholder="Enter a Whole Number"
            required>
        <label for="min_samples_leaf" class="floating-label">Maximum Sample Leaf</label>
        <input type="number" name="min_samples_leaf" id="min_samples_leaf" placeholder="Enter a Whole Number" required>
        <button class="submit btn-eda">Train</button>

        
    </form>
    <p>Accuracy: {{ accuracy }}</p>


    <form action="/predict_class/" method="POST" class="tform">
        {%csrf_token %}

        <label for="bi_rads" class="floating-label">BI_RADS</label>
        <input type="number" name="bi_rads" id="bi_rads" placeholder="Enter a Number" required>
        <label for="age" class="floating-label">Age</label>
        <input type="number" name="age" id="age" placeholder="Enter a Number" required>
        <label for="shape" class="floating-label">Shape</label>
        <input type="number" name="shape" id="shape" placeholder="Enter a Number" required>
        <label for="margin" class="floating-label">Margin</label>
        <input type="number" name="margin" id="margin" placeholder="Enter a Number" required>
        <label for="density" class="floating-label">Density</label>
        <input type="number" name="density" id="density" placeholder="Enter a Number" required>
        <button class="submit btn-eda">Submit</button>

    </form>

    <p>Prediction: {{ prediction }}</p>
</body>

</html>